<div class="row">
  {{#each listItems as |listItem|}}
  <section class="col-3" data-id="{{listItem.id}}">
    <h6>Title:</h6>
    <p>
      {{#if listItem.title}}
        {{listItem.title}}
      {{else}}
        No title provided.
      {{/if}}
    </p>
    <h6>Description:</h6>
    <p>
      {{#if listItem.description}}
        {{listItem.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
    {{> remove-listItem id=listItem.id}}
  </section>

  {{/each}}
</div>
